letter-board {
    position: relative;
    display: none;
    bottom: 0;
    left: 0;
    width: 100vw;

    .controls {
        position: relative;
    }

    .letter-selection {
        display: grid;
        grid-template-columns: repeat(9, minmax(0, 1fr));
        grid-gap: 1vw;
        background: #0666ae;
        padding: 1vw;
    }
    
    .letter-tile {
        font-family: $board-font-family;
        display: flex;
        align-items: center;
        justify-content: center;
        caret-color: transparent;
        box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.2);
        height: 10vw;
        background-color: #458ac8;
        color: white;
        font-size: 10vw;
        text-transform: uppercase;
        text-align: center;
        font-size: 8vw;
    }
    
    .letter-tile:not(:empty) {
        background-color: #1b4a90;
    }
}