modal-number-solution .card-content {
    --grid-line: rgba(0, 0, 0, 0.05);
    background-color: #fff;
    background-position: -1.5rem -1.5rem;
    background-repeat: no-repeat;
    background-size: calc(100% + 3rem) calc(100% + 3rem);
    background-image:
        repeating-linear-gradient(to right, var(--grid-line), var(--grid-line) 1px, transparent 2px, transparent 3rem),
        repeating-linear-gradient(to bottom, var(--grid-line), var(--grid-line) 1px, transparent 2px, transparent 3rem);

    display: flex;
    white-space: pre-line;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    line-height: 1.5;
    font-family: 'Nanum Pen Script', cursive;
}