countdown-app {
    &[board="letters"] {
        letter-board {
            display: block;
        }
    }

    &[board="numbers"] {
        number-board {
            display: block;
        }
    }

    &[board="conundrum"] {
        conundrum-board {
            display: block;
        }
    }
}