countdown-app {
    &[board="letters"] {
        letter-board {
            display: block;
        }
    }

    &[board="numbers"] {
        number-board {
            display: block;
        }
    }

    &[board="conundrum"] {
        conundrum-board {
            display: block;
        }
    }

    button[value="pause"],
    button[value="reset"] {
        display: none;
    }

    &[counting] {
        button[value="play"] {
            display: none;
        }

        button[value="pause"],
        button[value="reset"] {
            display: initial;
        }
    }
}