@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Futura Bold';
  src: url('../fonts/Futura URW Extra Bold.ttf');
}

@font-face {
  font-family: 'Nanum Pen Script';
  src: url('../fonts/NanumPenScript-Regular.ttf');
}

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts'; 
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';

@import "~bulma/bulma";
@import 'variables';
@import '../conundrum-board/conundrum-board';
@import '../letter-board/letter-board';
@import '../number-board/number-board';
@import '../countdown-app/countdown-app';
@import '../modal/modal-number-solution';

html {
  font-size: $root-font-size;
  font-family: $font-family;
  max-width: $page-width;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: center;
}

* { 
  box-sizing: border-box;
}

em {
  font-style: italic;
}

p {
  font-size: $paragraph-font-size;
}

body {
  margin: 0;
}

video {
  display: block;
  position: fixed;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: top;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  margin: 0.5em 0 0 0.5em;

  button {
    margin: 0 0.5em 0.5em 0;

    span {
      pointer-events: none;
    }
    
    i {
      pointer-events: none;
      margin-right: 0.5em;
    }

    &.fullscreen-button {
      margin-left: auto;
    
      .fa-compress {
        display: none;
    
        :fullscreen & {
          display: inline-block;
        }
      }
    
      .fa-expand {
        :fullscreen & {
          display: none;
        }
      }
    }
  }
}

.board-selection {
  display: flex;
  top: -2em;
  right: 0;
  margin-left: auto;
  
  button {
    background-color: #1b4a90;
    cursor: pointer;
    font-family: $board-font-family;
    outline: none;
    border: none;
    color: white;
    box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.5);
    align-self: flex-end;
    padding: 0.5em 1em;
    border-radius: 0.5em 0.5em 0 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 1rem;
    margin: 0;
    text-transform: uppercase;

    @media screen and (max-width: 640px) {
      font-size: 0.7rem;
    }

    [board="letters"] &[value="letters"] {
      background-color: #4784b6;
      box-shadow: none;
    }

    [board="numbers"] &[value="numbers"] {
      background-color: #0666ae;
      box-shadow: none;
    }

    [board="conundrum"] &[value="conundrum"] {
      background-color: #4784b6;
      box-shadow: none;
    }
  }
}

.game-controls {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;

  .controls {
    flex-grow: 1;
    align-self: flex-end;
  }
}

.board-controls {
  display: flex;
  flex-wrap: wrap;
}

.modal-content {
  border-radius: 5px;
}