@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Futura Bold';
  src: url('../fonts/Futura URW Extra Bold.ttf');
}

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts'; 
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';

@import 'variables';
@import '../conundrum-board/conundrum-board';
@import '../letter-board/letter-board';
@import '../number-board/number-board';
@import '../countdown-app/countdown-app';

html {
  font-size: $root-font-size;
  font-family: $font-family;
  max-width: $page-width;
  margin: 0 auto;
  text-align: center;
}

p {
  font-size: $paragraph-font-size;
}

body {
  margin: 0;
}

video {
  display: block;
  position: fixed;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: top;
}

.controls {
  position: fixed;
  left: 0;
  text-align: left;
  margin: 0.5em 0 0 0.5em;

  button {
    padding: 0.5em 1em 0.7em;
    background-color: white;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
    border: none;
    color: hsla(0, 0%, 25%, 1);
    border-radius: 1.2em;
    cursor: pointer;
    outline: none;
    margin: 0 0.5em 0.5em 0;
  }
}

.fullscreen-button {
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 0.5em 1em 0.7em;
  background-color: white;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
  border: none;
  color: hsla(0, 0%, 25%, 1);
  border-radius: 1.2em;
  cursor: pointer;
  outline: none;

  i {
    pointer-events: none;
  }

  .fa-compress {
    display: none;

    :fullscreen & {
      display: inline-block;
    }
  }

  .fa-expand {
    :fullscreen & {
      display: none;
    }
  }
}
