number-board {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    display: none;

    .controls {
        position: relative;
    }

    .board {
        padding: 1vw;
        background-color: #0666ae;
    }

    .target {
        font-family: $board-font-family;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        border: 1vw solid #2776a9;
        margin: 0 auto;
        caret-color: transparent;
        box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.2);
        height: 11vw;
        width: 4.5ch;
        background-color: #1b4a90;
        color: white;
        font-size: 8vw;
        text-transform: uppercase;
        text-align: right;
        padding: 0 0.3em 0 0;
        box-sizing: border-box;
    }

    .number-selection {
        display: grid;
        grid-template-columns: repeat(6, minmax(0, 10vw));
        grid-gap: 1vw;
        margin-top: 1vw;
        justify-content: center;

        .number-tile {
            font-family: $board-font-family;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.2);
            height: 10vw;
            background-color: #458ac8;
            color: white;
            font-size: 5vw;
            text-transform: uppercase;
            text-align: center;
        }
        
        .number-tile:not(:empty) {
            background-color: #1b4a90;
        }
    }
}
